body{
    font-family: "微軟正黑體";
    position: relative;
}
.justify-content-end{
    background-color: black;
}
.justify-content-end a{
    color: white;
}
.k{
    margin-bottom: 30px;
    margin-top: 30px;
    display: block;
    text-align: center;
}
h3{
	margin-top: 30px;
}
.table{
	padding: 10px;
	border: 3px solid;
	border-radius: 100px;
	margin: 20px 30px;

	height: 90%;
	width: 90%;
}
.update{
	margin: 20px;
	display: block;
    text-align: center;
}